{% extends "adminpanel/base.html" %}

{% block title %}Login - Kampeonato Admin{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card mt-5">
            <div class="card-header bg-primary text-white text-center">
                <h4>Acesso ao Painel Admin</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
<div class="mb-3">
    <label for="{{ form.username.id_for_label }}" class="form-label">CPFaaaa</label>
    <input
        type="text"
        name="{{ form.username.html_name }}"
        id="{{ form.username.id_for_label }}"
        class="form-control"
        value="{{ form.username.value|default_if_none:'' }}"
        maxlength="11"
        pattern="\d{11}"
        title="Digite exatamente 11 dígitos numéricos"
        required
    >
    {% if form.username.errors %}
        <div class="text-danger">
            {{ form.username.errors }}
        </div>
    {% endif %}
</div>
                    
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Senha</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="text-danger">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <p>Não tem uma conta? <a href="{% url 'registro' %}">Registre-se</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
